<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo de Uso GitHub Desktop, modificado desde GitHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>GitHub Desktop</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        GitHub Desktop es una aplicación de escritorio que le permite trabajar con GitHub desde su computadora.
      </p>
      <p>
        GitHub Desktop se sincroniza con su cuenta de GitHub y le permite clonar repositorios, crear ramas, realizar
        cambios, confirmarlos y enviarlos a GitHub.
      </p>
      <p>
        GitHub Desktop es una excelente herramienta para trabajar con GitHub, especialmente si no está familiarizado con
        la línea de comandos.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
